<#@ include file="Shared.tt" #>
using System;

namespace <#= zmqNamespace #>
{
    public interface IService : IDisposable
    {
        string Name { get; }
        void Start();
        void Stop();
    }
}
